# MANIFEST.in for sdist
#

graft doc
graft tests

prune build
prune dist
prune .cache
prune doc/build
prune .env

include .coveragerc
include ChangeLog
include LICENSE
include README*
include *.txt
include setup.*

exclude .bumpversion.cfg
exclude .codeclimate.yml
exclude .coverage
exclude .gitignore
exclude .landscape.yml

recursive-include docs *.rst
recursive-exclude *.egg-info *
recursive-include tests *.py *.xml *.sch *.svrl

global-exclude *.py[cod] __pycache__ *.so *.dylib *~
