
graft doc
graft tests

prune build
prune dist
prune .cache
prune doc/build
prune .env/
prune src/schvalidator.egg-info

include ChangeLog
include LICENSE
include README*
include *.txt
include setup.*
include .bumpversion.cfg
include .coveragerc
include .gitignore


exclude src/schvalidator.egg-info/*

recursive-include docs *.rst
recursive-include tests *.py *.xml *.sch *.svrl
recursive-exclude src/*.egg-info/ *

global-exclude *.py[cod] __pycache__ *.so *.dylib *~
